body {
    background-color: #DB7093;
}
h1 {
    color: #fff;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}
.sidebar__navigation {
    background-color: #f17ba2;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}
.sidebar__navigation .logo {
    background-color: #f17ba2;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}
.sidebar__navigation .logo img {
    width: 80px;
}
.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}
.sidebar ul li {
    padding: 10px 0;
}
.sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}
.sidebar nav ul li a .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
}
.sidebar nav ul li a:hover {
    color: #ffff;
}
.library {
    background-color: #f17ba2;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 4px 8px;
    color:#fff;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
    flex-direction: column;
}
.library .library__content {
    display: flex;
    justify-content: space-between;
}
.library .library__button {
    margin-right: 10px;
    color: #fff;
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
    display: flex;
}
.library .library__button .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}
.library .library__content .fa-plus {
    margin: 24px 10px;
}
.section-playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: #f992b4;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0px;
    padding: 16px 20px;
    border-radius: 10px;
}
.section-playlist .section-playlist__content {
    display: flex;
    flex-direction: column;
}
.section-playlist__content .text {
    font-family: "DM Sans", sans-serif;
    padding-bottom: 16px;
    color: #fff;   
}
.section-playlist__content .title {
    font-weight: 700;
}
.section-playlist__content .subtitle {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.section-playlist__content .section-playlist__button {
    display: flex;
    justify-content: center;
    background-color: #DB7093;
    color: #fff;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px;
    border: 0;
    width: 113px;
}
.sidebar .cookies {
    margin: 25px 20px;
}
.sidebar .cookies a {
    color:#fff;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}
.sidebar .cookies a:hover {
    text-decoration: underline;
}
.languages .languages__button {
    align-items: center;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width: 170px;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;
}
