body {
    background-color: #DB7093;
}
h1 {
    color: #fff;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}
.sidebar__navigation {
    background-color: #f17ba2;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}
.sidebar__navigation .logo {
    background-color: #f17ba2;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}
.sidebar__navigation .logo img {
    width: 80px;
}
.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}
.sidebar ul li {
    padding: 10px 0;
}
.sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}
.sidebar nav ul li a .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
}
.sidebar nav ul li a:hover {
    color: #ffff;
}
.library {
    background-color: #f17ba2;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    min-block-size: 40px;
    padding: 4px 8px;
    color:#fff;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
    flex-direction: column;
}
.library .library__button {
    margin-right: 10px;
    color: #fff;
    background-color: transparent;
    border: 0px;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
    display: flex;
}
.library .library__button .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}
.library__content {
    display: flex;
    justify-content: space-between;
}
.library .library__content .fa-plus {
    margin: 24px 10px;
}